extends ../layout 

block content 
  a(href='/vehiculos' class='btn btn-danger' style='text-align:center') Volver a Vehiculos  

  br
  br
  br

  h1 Actualizando Vehiculos 

  br
  br

  form(action=`/vehiculos/${vehi.id}/update` method='post')
    .form-group
        label(for="id") ID: 
        input#id.form-control(type='text' name='id' value=vehi.id)
    br
    .form-group
        label(for="nombre") Nombre: 
        input#nombre.form-control(type='text' name='nombre' value=vehi.nombre)
    br
    .form-group
        label(for="apellido") Apellido: 
        input#apellido.form-control(type='text' name='apellido' value=vehi.apellido)
    br
    .form-group
        label(for="placa") Placa: 
        input#placa.form-control(type='text' name='placa' value=vehi.placa)
    br
    .form-group
        label(for="color") Color: 
        input#color.form-control(type='text' name='color' value=vehi.color)
    br
    .form-group
        label(for="modelo") Modelo: 
        input#modelo.form-control(type='text' name='modelo' value=vehi.modelo)
    br
    .form-group
        label(for="a単o") A単o: 
        input#ano.form-control(type='text' name='a単o' value=vehi.a単o)  
    br 
    br
    input.btn.btn-primary(type="submit" value='OK')